@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");

@tailwind base;
@layer base {
  .input-file-styles {
    @apply bg-emerald-100 text-emerald-900 font-sans font-bold rounded-full border-0 px-4 hover:bg-emerald-300 my-1 cursor-pointer w-fit;
  }
}
@tailwind components;

@layer components {
  .checkbox-input {
    @apply mx-auto w-full accent-emerald-700 hover:accent-emerald-600 inline-block;
  }
  .request-input-field {
    @apply border-0 bg-slate-800 my-1  w-9/12 px-3 py-1 focus:outline-none focus:bg-slate-900;
  }
}
@tailwind utilities;

@layer utilities {
  .w-inherit {
    width: inherit;
  }
  .h-inherit {
    height: inherit;
  }
}
.active {
  border-bottom: 4px solid rgb(52, 211, 153);
  color: rgb(129, 253, 208);
  font-weight: 600;
}
.activeBtn {
  position: relative;
  overflow: hidden;
}
.activeBtn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  height: 4px;
  width: 80%;
  background-color: rgb(52, 211, 153);
  border-radius: 45px;
}
