@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-inherit {
    width: inherit;
  }
  .h-inherit {
    height: inherit;
  }
}
.active {
  border-bottom: 4px solid rgb(52, 211, 153);
  color: rgb(129, 253, 208);
  font-weight: 600;
}
.activeBtn {
  position: relative;
  overflow: hidden;
}
.activeBtn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  height: 4px;
  width: 80%;
  background-color: rgb(52, 211, 153);
  border-radius: 45px;
}
